.container{
    width: 200px;
    height: 75px;
}

#covid-stats-sl{
    font-weight: bold;
    font-size:small;
    text-decoration: underline;
}

#error{
    color: red;
}

.results{
    line-height: 5px;
}
#fetch-button{
    position: absolute;
    right: 5px;
    height: 15px;
    width: 10px;
}